Repository CircleCI-Public/circleci-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CircleCI-Public/Extensibility, @CircleCI-Public/CPEng, @CircleCI-Public/runner

.github/CODEOWNERS:

* @CircleCI-Public/Extensibility
*orb*.go @CircleCI-Public/CPEng @CircleCI-Public/Extensibility

/api/runner @CircleCI-Public/runner
/cmd/runner @CircleCI-Public/runner

Remove 'active' attribute for policies
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/list-expected-usage.txt
  cmd/policy/testdata/policy/update-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

add a unit-test
  api/policy/policy.go
  api/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

added some tests
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

added some tests
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

[SECENG-669] Remove 'active' attribute for policies (#750)
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/list-expected-usage.txt
  cmd/policy/testdata/policy/update-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

Add command to force delete a Runner resource class
  api/runner/runner.go
  api/runner/runner_test.go
  cmd/runner/resource_class.go
  cmd/runner/resource_class_test.go
  cmd/runner/runner.go
  cmd/runner/testdata/runner/resource-class/delete-expected-usage.txt
Owners: @CircleCI-Public/runner

Add command to force delete a Runner resource class
  api/runner/runner.go
  api/runner/runner_test.go
  cmd/runner/resource_class.go
  cmd/runner/resource_class_test.go
  cmd/runner/runner.go
  cmd/runner/testdata/runner/resource-class/delete-expected-usage.txt
Owners: @CircleCI-Public/runner

added 'status' filter to decision logs fetch command
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/logs-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

added 'status' filter to decision logs fetch command (#753)
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/logs-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

stripped name from Policy CLI commands
  api/policy/policy.go
  cmd/policy/policy.go
  go.mod
  go.sum
Owners: @CircleCI-Public/Extensibility

update policy agent and remove name from policy apis
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/create-expected-usage.txt
  cmd/policy/testdata/policy/update-expected-usage.txt
  cmd/policy/testdata/test0/policy.rego
Owners: @CircleCI-Public/Extensibility

Info command skeleton created
  .gitignore
  api/context_rest.go
  api/info/info.go
  api/info/info_test.go
  api/rest/client.go
  api/schedule_rest.go
  cmd/info/info.go
  cmd/info/info_test.go
  cmd/policy/policy.go
  cmd/root.go
  cmd/root_test.go
  cmd/runner/instance.go
  cmd/runner/resource_class.go
  cmd/runner/runner.go
  cmd/runner/token.go
  cmd/validator/validator.go
  go.sum
  settings/settings.go
  settings/settings_test.go
Owners: @CircleCI-Public/Extensibility, @CircleCI-Public/runner

fix pandoc installation on CI
  .circleci/config.yml
Owners: @CircleCI-Public/Extensibility

fix pandoc installation on CI
  .circleci/config.yml
Owners: @CircleCI-Public/Extensibility

added metafile flag for policy decisions
  api/policy/policy.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/meta.yml
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/test0/meta-policy.rego
Owners: @CircleCI-Public/Extensibility

updated circle-policy-agent
  go.mod
  go.sum
Owners: @CircleCI-Public/Extensibility

update policy-agent
  cmd/policy/testdata/test0/meta-policy.rego
  cmd/policy/testdata/test0/policy.rego
  go.mod
  go.sum
Owners: @CircleCI-Public/Extensibility

use interface{} instead of any
  api/policy/policy.go
Owners: @CircleCI-Public/Extensibility

use interface{} instead of any
  cmd/policy/policy.go
Owners: @CircleCI-Public/Extensibility

use interface{} instead of any
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

rename misnamed variable
  cmd/policy/policy.go
Owners: @CircleCI-Public/Extensibility

added metafile flag for policy decisions (#757)
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/meta.yml
  cmd/policy/testdata/policy/create-expected-usage.txt
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/update-expected-usage.txt
  cmd/policy/testdata/test0/meta-policy.rego
  cmd/policy/testdata/test0/policy.rego
  go.mod
  go.sum
Owners: @CircleCI-Public/Extensibility

Deploy to GitHub pages [ci skip]
  circleci_policy_create.html
  circleci_policy_decide.html
  circleci_policy_update.html
Owners: @CircleCI-Public/Extensibility

Added some human-friendly outputs
  cmd/policy/policy.go
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

Added some human-friendly outputs (#759)
  cmd/policy/policy.go
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

added `eval` policy subcommand to get raw opa evalution
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/create-expected-usage.txt
  cmd/policy/testdata/policy/delete-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
  cmd/policy/testdata/policy/get-expected-usage.txt
  cmd/policy/testdata/policy/list-expected-usage.txt
  cmd/policy/testdata/policy/logs-expected-usage.txt
  cmd/policy/testdata/policy/update-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

Feat: add SkipInsecureVerify to runner command
  api/rest/client.go
  api/rest/client_test.go
  api/runner/runner_test.go
  cmd/runner/runner.go
Owners: @CircleCI-Public/Extensibility, @CircleCI-Public/runner

review feedback
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/eval-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

[SECENG-679] added `eval` policy subcommand to get raw opa evalution (#761)
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/create-expected-usage.txt
  cmd/policy/testdata/policy/delete-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
  cmd/policy/testdata/policy/get-expected-usage.txt
  cmd/policy/testdata/policy/list-expected-usage.txt
  cmd/policy/testdata/policy/logs-expected-usage.txt
  cmd/policy/testdata/policy/update-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

Deploy to GitHub pages [ci skip]
  circleci_policy.html
  circleci_policy_create.html
  circleci_policy_decide.html
  circleci_policy_delete.html
  circleci_policy_eval.html
  circleci_policy_list.html
  circleci_policy_logs.html
  circleci_policy_update.html
Owners: @CircleCI-Public/Extensibility

first draft of changes
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/fetch-expected-usage.txt
  cmd/policy/testdata/policy/logs-expected-usage.txt
  cmd/policy/testdata/policy/push-expected-usage.txt
  cmd/policy/testdata/test0/meta-policy.rego
  cmd/policy/testdata/test0/policy.rego
Owners: @CircleCI-Public/Extensibility

fix build
  api/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

add recent examples for decision logs in tests
  api/policy/policy_test.go
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

fix build
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

list policy files recursively
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/test.rego
  cmd/policy/testdata/test0/subdir/meta-policy-subdir/meta-policy.rego
  cmd/policy/testdata/test0/subdir/meta-policy-subdir/should_be_ignored.txt
  cmd/policy/testdata/test1/meta.yml
  cmd/policy/testdata/test1/test.yml
Owners: @CircleCI-Public/Extensibility

added test
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/test0/no-valid-policy-files/should_be_ignored.txt
Owners: @CircleCI-Public/Extensibility

bump circle-policy-agent version
  go.mod
  go.sum
Owners: @CircleCI-Public/Extensibility

fix build
  cmd/policy/policy.go
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

[SECENG-639] Policy bundle commands (#765)
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/fetch-expected-usage.txt
  cmd/policy/testdata/policy/logs-expected-usage.txt
  cmd/policy/testdata/policy/push-expected-usage.txt
  cmd/policy/testdata/test.rego
  cmd/policy/testdata/test0/no-valid-policy-files/should_be_ignored.txt
  cmd/policy/testdata/test0/policy.rego
  cmd/policy/testdata/test0/subdir/meta-policy-subdir/meta-policy.rego
  cmd/policy/testdata/test0/subdir/meta-policy-subdir/should_be_ignored.txt
  cmd/policy/testdata/test1/meta.yml
  cmd/policy/testdata/test1/test.yml
  go.mod
  go.sum
Owners: @CircleCI-Public/Extensibility

Deploy to GitHub pages [ci skip]
  circleci_policy.html
  circleci_policy_create.html
  circleci_policy_fetch.html
  circleci_policy_list.html
  circleci_policy_logs.html
  circleci_policy_push.html
  circleci_policy_update.html
Owners: @CircleCI-Public/Extensibility
