Repository CircleCI-Public/circleci-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers, @CircleCI-Public/on-prem

.github/CODEOWNERS:

* @CircleCI-Public/developer-experience
*orb*.go @CircleCI-Public/orb-publishers @CircleCI-Public/developer-experience

/api/runner @CircleCI-Public/on-prem
/cmd/runner @CircleCI-Public/on-prem

fix snapcraft deploy
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

style: Addressed PR comments
  api/rest/client.go
  config/api_client.go
Owners: @CircleCI-Public/developer-experience

refactor: Removed the singleton pattern
  api/orb/client.go
  cmd/orb.go
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers

refactor: Moved the orb validation in a orb API module
  api/api.go
  api/orb/client.go
  api/orb/deprecated.go
  api/orb/latest.go
  api/orb/yaml.go
  cmd/orb.go
  cmd/orb_test.go
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers

Adressed pr comments
  api/orb/client.go
  api/orb/v1_client.go
  api/orb/v2_client.go
  api/orb/yaml.go
  cmd/orb.go
  cmd/orb_test.go
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers

docs: Added comment on
  api/orb/client.go
Owners: @CircleCI-Public/developer-experience

fix: Added scenarios for telemetry disabled-default
  .circleci/config.yml
  cmd/create_telemetry.go
  cmd/create_telemetry_test.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

fix: Resolve orb validation error
  api/orb/client.go
Owners: @CircleCI-Public/developer-experience

fix: Remove typo in introspection query
  api/orb/client.go
  cmd/orb_test.go
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers

fix: Change path where snap takes the CLI
  snap/snapcraft.yaml
Owners: @CircleCI-Public/developer-experience

properly populate the EnvironmentVariable struct
  api/context.go
Owners: @CircleCI-Public/developer-experience

fix: Change path where snap takes the CLI (#997)
  snap/snapcraft.yaml
Owners: @CircleCI-Public/developer-experience

Deploy to GitHub pages [ci skip]
  circleci_telemetry.html
  circleci_telemetry_disable.html
  circleci_telemetry_enable.html
  index.html
Owners: @CircleCI-Public/developer-experience

Deploy to GitHub pages [ci skip]
  circleci_telemetry.html
  circleci_telemetry_disable.html
  circleci_telemetry_enable.html
  index.html
Owners: @CircleCI-Public/developer-experience

fix: Fix runner token telemetry event
  cmd/runner/token.go
  telemetry/events.go
Owners: @CircleCI-Public/on-prem, @CircleCI-Public/developer-experience

fix: Allow runner commands to run their PersistentPreRun
  cmd/runner/resource_class.go
  cmd/runner/token.go
Owners: @CircleCI-Public/on-prem

Deploy to GitHub pages [ci skip]
  circleci_telemetry.html
  circleci_telemetry_disable.html
  circleci_telemetry_enable.html
  index.html
Owners: @CircleCI-Public/developer-experience

Update wording of error to be slightly less confusing
  cmd/root.go
Owners: @CircleCI-Public/developer-experience

fix file encoding
  chocolatey/update-version.ps1
Owners: @CircleCI-Public/developer-experience

chore: Update code of conduct
  CODE_OF_CONDUCT.md
Owners: @CircleCI-Public/developer-experience

chore: Update code of conduct (#1011)
  CODE_OF_CONDUCT.md
Owners: @CircleCI-Public/developer-experience

feat: default http client timeout override
  api/rest/client.go
Owners: @CircleCI-Public/developer-experience

Update client.go
  api/rest/client.go
Owners: @CircleCI-Public/developer-experience

use same timeout value for http client & graphql
  api/header/global.go
  api/rest/client.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

add test
  api/rest/client.go
  api/rest/client_test.go
Owners: @CircleCI-Public/developer-experience

fix: improve error message on orb creation
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience

fix: improve error message on orb creation (#1019)
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience

remove tmp mount from setup
  cmd/setup.go
  cmd/setup_test.go
  cmd/setup_unit_test.go
Owners: @CircleCI-Public/developer-experience

Add tmp_mount to cli.yaml and to setup command.
  cmd/root.go
  cmd/setup.go
  cmd/setup_test.go
  cmd/setup_unit_test.go
  go.mod
  go.sum
  local/local.go
  local/local_test.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

fix flags
  cmd/build.go
  local/local.go
Owners: @CircleCI-Public/developer-experience

add test cases
  local/local_suite_test.go
  local/local_test.go
Owners: @CircleCI-Public/developer-experience

add temp dir to local execute command and
  cmd/root.go
  local/local.go
  local/local_test.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

e2e test for docker execute
  local/local.go
  local/local_suite_test.go
  local/local_test.go
  local/local_unit_test.go
Owners: @CircleCI-Public/developer-experience

setup remote docker in test jobs
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

use --mount instead of --volume for docker bind mounts
  local/local.go
  local/local_unit_test.go
Owners: @CircleCI-Public/developer-experience

fix rebase mistake
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

remove remote docker from non-linux test jobs
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

skip local execute tests on non-linux OS
  local/local_suite_test.go
Owners: @CircleCI-Public/developer-experience

omit empty temp dir
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

remove local execute e2e tests
  local/local_suite_test.go
  local/local_test.go
  local/local_unit_test.go
Owners: @CircleCI-Public/developer-experience
