Repository CircleCI-Public/circleci-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers, @CircleCI-Public/on-prem

.github/CODEOWNERS:

* @CircleCI-Public/developer-experience
*orb*.go @CircleCI-Public/orb-publishers @CircleCI-Public/developer-experience

/api/runner @CircleCI-Public/on-prem
/cmd/runner @CircleCI-Public/on-prem

remove unused setup_remote_docker
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

feat: configure temporary directory for local execute (#967)
  .circleci/config.yml
  cmd/build.go
  cmd/setup.go
  cmd/setup_test.go
  go.mod
  go.sum
  local/local.go
  local/local_test.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

add circleci for slug options
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience

update go version in go.mod
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience

fix updater tests
  cmd/check.go
  cmd/check_test.go
  cmd/orb_test.go
  cmd/root_test.go
  cmd/update_test.go
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers

update go-selfupdater
  cmd/.circleci/cli.yml
  cmd/.circleci/telemetry.yml
  cmd/.circleci/update_check.yml
  cmd/check_test.go
  cmd/update_test.go
  go.mod
Owners: @CircleCI-Public/developer-experience

update go version in CI
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

install go from package on macOS
  .circleci/config.yml
  cmd/update_test.go
Owners: @CircleCI-Public/developer-experience

switch macos to arm
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

update Xcode
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

remove usage of `TESTING` env var
  .circleci/config.yml
  Makefile
  Taskfile.yml
  cmd/root.go
Owners: @CircleCI-Public/developer-experience

chore(deps): update go version to 1.21.5 (#1021)
  .circleci/config.yml
  Makefile
  Taskfile.yml
  cmd/.circleci/cli.yml
  cmd/.circleci/telemetry.yml
  cmd/.circleci/update_check.yml
  cmd/check.go
  cmd/check_test.go
  cmd/orb_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/update_test.go
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers

feat: add circleci for slug options (#1020)
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience

Deploy to GitHub pages [ci skip]
  circleci_local_execute.html
Owners: @CircleCI-Public/developer-experience

ci: restore brew autoupdate
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

ci: restore brew autoupdate (#1025)
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

Enrich github prompt to capture organization ID for GitHub App integration users
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience

Enrich github prompt to capture organization ID for GitHub App integration users
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience

fix brew
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

deprecate follow command
  cmd/follow.go
Owners: @CircleCI-Public/developer-experience

Create go.yml
  .github/workflows/go.yml
Owners: @CircleCI-Public/developer-experience

update docs
  cmd/namespace.go
Owners: @CircleCI-Public/developer-experience

remove VCS functionality
  cmd/.circleci/update_check.yml
  cmd/namespace.go
  cmd/namespace_test.go
Owners: @CircleCI-Public/developer-experience

use ExactArgs
  cmd/namespace.go
Owners: @CircleCI-Public/developer-experience

upgrade go-git
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience

update helper text
  cmd/policy/policy.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/diff-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
  cmd/policy/testdata/policy/fetch-expected-usage.txt
  cmd/policy/testdata/policy/logs-expected-usage.txt
  cmd/policy/testdata/policy/push-expected-usage.txt
  cmd/policy/testdata/policy/settings-expected-usage.txt
  cmd/policy/testdata/policy/test-expected-usage.txt
Owners: @CircleCI-Public/developer-experience

Merge main (#1040)
  .circleci/config.yml
Owners: @CircleCI-Public/developer-experience

Deploy to GitHub pages [ci skip]
  circleci_follow.html
  circleci_namespace_create.html
  index.html
Owners: @CircleCI-Public/developer-experience

Revert "remove VCS functionality"
  cmd/.circleci/update_check.yml
  cmd/namespace.go
  cmd/namespace_test.go
Owners: @CircleCI-Public/developer-experience

Deploy to GitHub pages [ci skip]
  circleci_namespace_create.html
Owners: @CircleCI-Public/developer-experience

feat: context commands can now be used with `--org-id` parameter.
  .gitignore
  api/api.go
  api/context.go
  api/context/context.go
  api/context/gql.go
  api/context/gql_client.go
  api/context/rest.go
  api/context/rest_client.go
  api/context_graphql.go
  api/context_rest.go
  api/context_rest_test.go
  api/context_test.go
  api/rest/client.go
  api/schedule_rest.go
  clitest/clitest.go
  cmd/.circleci/update_check.yml
  cmd/context.go
  cmd/context_test.go
  cmd/namespace_test.go
  cmd/orb.go
  md_docs/md_docs.go
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/orb-publishers

changed the `context list` table
  api/api.go
  cmd/context.go
  cmd/context_test.go
Owners: @CircleCI-Public/developer-experience

changed the `context list` table (#1047)
  api/api.go
  cmd/context.go
  cmd/context_test.go
Owners: @CircleCI-Public/developer-experience

upgrade circle-policy-agent
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience

upgrade circle-policy-agent (#1049)
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience

Deploy to GitHub pages [ci skip]
  circleci_context_create.html
  circleci_context_delete.html
  circleci_context_list.html
  circleci_context_remove-secret.html
  circleci_context_show.html
  circleci_context_store-secret.html
Owners: @CircleCI-Public/developer-experience

PIPE-4359 Update config compilation pipeline values to add parameters
  cmd/policy/policy.go
  config/commands.go
  config/config.go
  config/pipeline.go
  config/pipeline_test.go
  local/local.go
Owners: @CircleCI-Public/developer-experience

don't link to orb registry on enterprise
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience

test
  cmd/orb_test.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience

use clitest URL
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/developer-experience
