Repository CircleCI-Public/circleci-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CircleCI-Public/developer-experience, @CircleCI-Public/CPEng, @CircleCI-Public/runner

Add --docker-socket-path flag
  local/local.go
  local/local_test.go
Owners: @CircleCI-Public/developer-experience

Delete code that doesn't do anything
  api/rest/client.go
Owners: @CircleCI-Public/developer-experience

Delete unused code
  api/project/project_rest.go
Owners: @CircleCI-Public/developer-experience

Allow creating rest clients directly not from conf
  api/project/project_rest.go
  api/rest/client.go
  api/rest/client_test.go
  api/runner/runner_test.go
  cmd/runner/runner.go
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/runner

First pass at removing the api-service dependency for config compilation and validation
  api/api.go
  api/rest/client.go
  api/rest/client_test.go
  cmd/config.go
  cmd/config_test.go
  cmd/root.go
  config/config.go
  config/deprecated-images.go
  integration_tests/features/circleci_config.feature
  local/local.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

Create a client for speaking to dl.circleci.com
  api/dl/dl.go
  api/dl/dl_rest.go
  api/dl/dl_rest_test.go
  api/dl/err.go
  api/project/project.go
  api/project/project_rest.go
  api/project/project_rest_test.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

Add the command to purge DLC
  cmd/project/dlc.go
  cmd/project/environment_variable.go
  cmd/project/project.go
  cmd/project/project_test.go
Owners: @CircleCI-Public/developer-experience

docs: correct installation of given version with sudo
  README.md
Owners: @CircleCI-Public/developer-experience

Revert "PIPE-2315 - Removes API-Service from config compilation"
  api/api.go
  api/rest/client.go
  api/rest/client_test.go
  cmd/config.go
  cmd/config_test.go
  cmd/deprecated-images.go
  cmd/root.go
  config/config.go
  integration_tests/features/circleci_config.feature
  local/local.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

Fixed the json key for owner-id which now allows for private orb resolution
  cmd/config.go
  config/config.go
Owners: @CircleCI-Public/developer-experience

Adds tests to ensure owner_id is passed correctly in request to orb-service
  api/rest/client_test.go
  cmd/config.go
  config/config.go
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience

Dlc purge (#869)
  api/dl/dl.go
  api/dl/dl_rest.go
  api/dl/dl_rest_test.go
  api/dl/err.go
  api/project/project.go
  api/project/project_rest.go
  api/project/project_rest_test.go
  api/rest/client.go
  api/rest/client_test.go
  api/runner/runner_test.go
  cmd/project/dlc.go
  cmd/project/environment_variable.go
  cmd/project/project.go
  cmd/project/project_test.go
  cmd/runner/runner.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/runner

Migrates config compilation and validation requests away from GQL resolvers to an internal service
  api/api.go
  api/rest/client.go
  api/rest/client_test.go
  cmd/config.go
  cmd/config_test.go
  cmd/root.go
  config/config.go
  config/deprecated-images.go
  go.mod
  go.sum
  integration_tests/features/circleci_config.feature
  local/local.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

Changes behaviour for the config process and validate commands to respect the --host flag when it's set to a non-default host
  cmd/config.go
  cmd/config_test.go
Owners: @CircleCI-Public/developer-experience

use go1.20
  .circleci/config.yml
  Dockerfile
  go.mod
Owners: @CircleCI-Public/developer-experience

feat: add verbose flag for pipeline values
  cmd/config.go
Owners: @CircleCI-Public/developer-experience

use go1.20 (#882)
  .circleci/config.yml
  Dockerfile
  go.mod
Owners: @CircleCI-Public/developer-experience

update circle policy agent
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience

fix tests
  cmd/policy/policy_test.go
  cmd/policy/testdata/test0/subdir/meta-policy-subdir/meta-policy.rego
  cmd/policy/testdata/test1/meta.yml
  cmd/policy/testdata/test_policies/policy.rego
  cmd/policy/testdata/test_policies/policy_test.yaml
Owners: @CircleCI-Public/developer-experience

update circle policy agent (#885)
  cmd/policy/policy_test.go
  cmd/policy/testdata/test0/subdir/meta-policy-subdir/meta-policy.rego
  cmd/policy/testdata/test1/meta.yml
  cmd/policy/testdata/test_policies/policy.rego
  cmd/policy/testdata/test_policies/policy_test.yaml
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience

Migrates the old calls to the deprecated ioutil package to io and os respectively
  api/api.go
  api/context_rest.go
  api/context_rest_test.go
  api/graphql/client.go
  api/graphql/client_test.go
  api/info/info.go
  api/schedule_rest.go
  clitest/clitest.go
  cmd/config.go
  cmd/context.go
  cmd/orb.go
  cmd/orb_import_test.go
  cmd/query.go
  cmd/setup_test.go
  config/config.go
  filetree/filetree.go
  filetree/filetree_test.go
  local/local.go
  local/local_test.go
  mock/http.go
  process/process.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience, @CircleCI-Public/CPEng

Merging in from develop
  README.md
  api/rest/client.go
  cmd/config.go
  cmd/config_test.go
  cmd/root.go
  config/collaborators.go
  config/collaborators_test.go
  config/commands.go
  config/commands_test.go
  config/config.go
  config/config_test.go
  config/deprecated.go
  config/deprecated_test.go
  config/pipeline.go
  config/testdata/config-no-orb.yml
  config/testdata/config.yml
  config/testdata/test.yml
  integration_tests/features/circleci_config.feature
  local/local.go
  settings/settings.go
Owners: @CircleCI-Public/developer-experience

Adds an editorconfig file to the repo to ensure that all files have newline characters
  .editorconfig
  api/rest/client.go
  cmd/config.go
  config/commands.go
  config/commands_test.go
  config/config.go
  config/config_test.go
  config/testdata/config-no-orb.yml
  config/testdata/config.yml
  config/testdata/test.yml
Owners: @CircleCI-Public/developer-experience

[SNC-102] add `--meta` flag to allow passing metadata as json string with policy `decide` and `eval` commands
  cmd/policy/policy.go
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/developer-experience

[SNC-102] fix tests
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
Owners: @CircleCI-Public/developer-experience

[SNC-102] extract get meta in a function
  cmd/policy/policy.go
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/developer-experience

[SNC-102] Add meta flag to config policies decisions (#891)
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
Owners: @CircleCI-Public/developer-experience

udpated circle-policy-agent to v0.0.608
  go.mod
  go.sum
Owners: @CircleCI-Public/developer-experience

Update README.md
  README.md
Owners: @CircleCI-Public/developer-experience

Updated readme
  README.md
Owners: @CircleCI-Public/developer-experience

.github/CODEOWNERS:

* @CircleCI-Public/developer-experience
*orb*.go @CircleCI-Public/CPEng @CircleCI-Public/developer-experience

/api/runner @CircleCI-Public/runner
/cmd/runner @CircleCI-Public/runner
