Repository CircleCI-Public/circleci-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CircleCI-Public/Extensibility, @CircleCI-Public/CPEng, @CircleCI-Public/runner

added dry mode to policy creation
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/push-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

changed policy push --dry flag to --preview
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/push-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

fixed tests
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/diff-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

ran prompt test with binary
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  go.mod
  go.sum
Owners: @CircleCI-Public/Extensibility

test input with scan and no binaries
  cmd/policy/policy.go
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

go mod tidy
  go.mod
Owners: @CircleCI-Public/Extensibility

fix data race
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

windows compat maybe
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

restrict policy to directories, input policy directory as positional argument for decide and eval
  cmd/policy/policy.go
Owners: @CircleCI-Public/Extensibility

use path.Join instead of filepath.Join
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

fix windows tests
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

fix some tests
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

pr feedback
  cmd/policy/policy.go
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

added dry mode to policy creation (#767)
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/diff-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
  go.mod
  go.sum
Owners: @CircleCI-Public/Extensibility

Deploy to GitHub pages [ci skip]
  circleci_policy.html
  circleci_policy_diff.html
  circleci_policy_eval.html
  circleci_policy_push.html
Owners: @CircleCI-Public/Extensibility

added tests for policy diff subcommand
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

added a test for decide command
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

added tests for policy diff subcommand (#768)
  cmd/policy/policy_test.go
Owners: @CircleCI-Public/Extensibility

added examples for policy commands
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/diff-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
  cmd/policy/testdata/policy/fetch-expected-usage.txt
  cmd/policy/testdata/policy/logs-expected-usage.txt
  cmd/policy/testdata/policy/push-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

updated example
  cmd/policy/policy.go
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/diff-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
  cmd/policy/testdata/policy/push-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

Commands added: - `circleci project list-secrets`
  api/project/project.go
  api/project/project_rest.go
  api/project/project_rest_test.go
  api/rest/client.go
  api/rest/client_test.go
  api/runner/runner_test.go
  cmd/project/environment_variable.go
  cmd/project/project.go
  cmd/project/project_test.go
  cmd/root.go
  cmd/root_test.go
Owners: @CircleCI-Public/Extensibility, @CircleCI-Public/runner

Added examples for policy commands (#769)
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/diff-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
  cmd/policy/testdata/policy/fetch-expected-usage.txt
  cmd/policy/testdata/policy/logs-expected-usage.txt
  cmd/policy/testdata/policy/push-expected-usage.txt
Owners: @CircleCI-Public/Extensibility

Deploy to GitHub pages [ci skip]
  circleci_policy.html
  circleci_policy_decide.html
  circleci_policy_diff.html
  circleci_policy_eval.html
  circleci_policy_fetch.html
  circleci_policy_logs.html
  circleci_policy_push.html
Owners: @CircleCI-Public/Extensibility

Removing Codecov from CLI
  .circleci/config.yml
  cmd/orb_test.go
  cmd/testdata/gql_orb_list/first_response.json
  cmd/testdata/gql_orb_list/pretty_json_output.json
  cmd/testdata/gql_orb_list_uncertified/first_response.json
  cmd/testdata/gql_orb_list_uncertified/pretty_json_output.json
  cmd/testdata/gql_orb_list_with_namespace/first_response.json
  md_docs/md_docs.go
Owners: @CircleCI-Public/Extensibility, @CircleCI-Public/CPEng

revert
  README.md
  cmd/orb_test.go
  cmd/testdata/gql_orb_list/first_response.json
  cmd/testdata/gql_orb_list/pretty_json_output.json
  cmd/testdata/gql_orb_list_uncertified/first_response.json
  cmd/testdata/gql_orb_list_uncertified/pretty_json_output.json
  cmd/testdata/gql_orb_list_with_namespace/first_response.json
Owners: @CircleCI-Public/Extensibility, @CircleCI-Public/CPEng

.github/CODEOWNERS:

* @CircleCI-Public/Extensibility
*orb*.go @CircleCI-Public/CPEng @CircleCI-Public/Extensibility

/api/runner @CircleCI-Public/runner
/cmd/runner @CircleCI-Public/runner
