Repository CircleCI-Public/circleci-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CircleCI-Public/lifecycle, @CircleCI-Public/orb-publishers, @CircleCI-Public/on-prem

.github/CODEOWNERS:

* @CircleCI-Public/lifecycle
*orb*.go @CircleCI-Public/orb-publishers @CircleCI-Public/lifecycle

/api/runner @CircleCI-Public/on-prem
/cmd/runner @CircleCI-Public/on-prem

Deploy to GitHub pages [ci skip]
  circleci_completion.html
  circleci_config.html
  circleci_context.html
  circleci_diagnostic.html
  circleci_env.html
  circleci_info.html
  circleci_init.html
  circleci_local.html
  circleci_namespace.html
  circleci_open.html
  circleci_orb.html
  circleci_pipeline.html
  circleci_policy.html
  circleci_project.html
  circleci_run.html
  circleci_runner.html
  circleci_setup.html
  circleci_telemetry.html
  circleci_trigger.html
  circleci_update.html
  circleci_version.html
  index.html
Owners: @CircleCI-Public/lifecycle

fix(telemetry): replace string-based error classification with typed errors
  api/api.go
  api/context/gql_client.go
  api/context/rest_client.go
  api/graphql/client.go
  api/runner/runner.go
  cmd/instrument.go
  cmd/run.go
  errs/errs.go
Owners: @CircleCI-Public/lifecycle, @CircleCI-Public/on-prem

feat(pipeline): add create and run funnel tracking
  cmd/pipeline/create.go
  cmd/pipeline/run.go
Owners: @CircleCI-Public/lifecycle

fix: resolve golangci-lint errors (gofmt, goconst)
  cmd/instrument.go
  cmd/root.go
  errs/errs.go
  telemetry/context.go
Owners: @CircleCI-Public/lifecycle

feat(project): add create command funnel tracking
  cmd/project/create.go
Owners: @CircleCI-Public/lifecycle

fix(telemetry): redact flag values sent to Segment
  cmd/create_telemetry.go
  cmd/info/info_test.go
  cmd/runner/telemetry_test.go
  telemetry/utils.go
Owners: @CircleCI-Public/lifecycle, @CircleCI-Public/on-prem

feat(cmd): add automatic command telemetry middleware
  clitest/telemetry.go
  cmd/config_test.go
  cmd/diagnostic_test.go
  cmd/instrument.go
  cmd/namespace_test.go
  cmd/orb_test.go
  cmd/root.go
  cmd/setup_test.go
  cmd/telemetry_test.go
  cmd/update_test.go
  cmd/version_test.go
Owners: @CircleCI-Public/lifecycle, @CircleCI-Public/orb-publishers

feat(telemetry): add invocation ID context helpers
  telemetry/context.go
Owners: @CircleCI-Public/lifecycle

fix(telemetry): improve error classification with structural and CLI-owned patterns
  cmd/instrument.go
Owners: @CircleCI-Public/lifecycle

feat(trigger): add create funnel tracking
  cmd/trigger/create.go
Owners: @CircleCI-Public/lifecycle

test: add integration test for command instrumentation middleware
  clitest/telemetry.go
  cmd/instrument_test.go
Owners: @CircleCI-Public/lifecycle

feat: add workflow step events for setup command funnel
  cmd/setup.go
  cmd/setup_unit_test.go
Owners: @CircleCI-Public/lifecycle

fix(telemetry): replace allowlist with sensitive-flag denylist for flag value redaction
  cmd/instrument.go
  cmd/instrument_test.go
  telemetry/utils.go
Owners: @CircleCI-Public/lifecycle

test: update namespace telemetry test for denylist flag values
  cmd/namespace_test.go
Owners: @CircleCI-Public/lifecycle

Update Mac executor
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

update command instructions to use SNAPCRAFT_STORE_CREDENTIALS
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

chore: Update Mac executor (#1184)
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

the docker image is not up-to-date with the latest
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

Revert snap publishing to use SNAPCRAFT_LOGIN_FILE with snapcraft 3.8
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

ensure parent flags get included, redacted if sensitive
  telemetry/utils.go
Owners: @CircleCI-Public/lifecycle

bring back reading credentials variable
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

use the graphql wrapper consistently
  api/api.go
  api/graphql/client.go
  errs/errs.go
Owners: @CircleCI-Public/lifecycle

add and expand tests for redacted flags
  cmd/instrument_test.go
  telemetry/utils_test.go
Owners: @CircleCI-Public/lifecycle

clean up comment no longer true.
  cmd/create_telemetry.go
Owners: @CircleCI-Public/lifecycle

add step-level tracking to init command
  cmd/init.go
Owners: @CircleCI-Public/lifecycle
