Repository CircleCI-Public/circleci-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CircleCI-Public/lifecycle, @CircleCI-Public/orb-publishers, @CircleCI-Public/on-prem

.github/CODEOWNERS:

* @CircleCI-Public/lifecycle
*orb*.go @CircleCI-Public/orb-publishers @CircleCI-Public/lifecycle

/api/runner @CircleCI-Public/on-prem
/cmd/runner @CircleCI-Public/on-prem

Fix SSH CVE
  go.mod
  go.sum
Owners: @CircleCI-Public/lifecycle

Store test results in CI
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

Change install command to include -t option
  install.sh
Owners: @CircleCI-Public/lifecycle

circleci-plugins
  cmd/root.go
  cmd/root_test.go
  cmd/run.go
  cmd/run_test.go
Owners: @CircleCI-Public/lifecycle

Switch to vuln-scanner orb
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

restore snyk
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

update go-git to v5.16.3
  go.mod
  go.sum
Owners: @CircleCI-Public/lifecycle

update go packages
  go.mod
  go.sum
Owners: @CircleCI-Public/lifecycle

Deploy to GitHub pages [ci skip]
  circleci_run.html
Owners: @CircleCI-Public/lifecycle

TEST-72 Update run command to autodetect envars
  api/project/project_rest.go
  cmd/run.go
  cmd/run_test.go
  settings/settings.go
Owners: @CircleCI-Public/lifecycle

wip
  cmd/root.go
  cmd/testsuite.go
Owners: @CircleCI-Public/lifecycle

wip
  cmd/testsuite.go
  cmd/testsuite_examples.md
Owners: @CircleCI-Public/lifecycle

Added new PR comment pipeline values
  config/pipeline.go
  config/pipeline_test.go
Owners: @CircleCI-Public/lifecycle

test
  README.md
Owners: @CircleCI-Public/lifecycle

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @CircleCI-Public/lifecycle

Update data.go
  data/data.go
Owners: @CircleCI-Public/lifecycle

Update orb.go
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/lifecycle

Update root_commands.feature
  integration_tests/features/root_commands.feature
Owners: @CircleCI-Public/lifecycle

Update orb_test.go
  cmd/orb_test.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/lifecycle

update all old docs links
  CONTRIBUTING.md
  cmd/orb.go
  cmd/orb_test.go
  data/data.go
  integration_tests/features/root_commands.feature
Owners: @CircleCI-Public/lifecycle, @CircleCI-Public/orb-publishers

one more
  cmd/orb.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/lifecycle

fix(config/pipeline): support missing pipeline parameters for config validation
  config/pipeline.go
  config/pipeline_test.go
Owners: @CircleCI-Public/lifecycle

Add V2 CI helpers and job logs
  api/job/job.go
  api/pipeline/pipeline.go
  api/pipeline/pipelines_rest.go
  api/workflow/workflow.go
  api/workflow/workflow_rest.go
  cmd/job/image_tag.go
  cmd/job/image_tag_test.go
  cmd/job/job.go
  cmd/job/logs.go
  cmd/job/logs_test.go
  cmd/pipeline/definitions.go
  cmd/pipeline/definitions_list.go
  cmd/pipeline/definitions_list_test.go
  cmd/pipeline/list.go
  cmd/pipeline/list_slug_test.go
  cmd/pipeline/list_test.go
  cmd/pipeline/pipeline.go
  cmd/pipeline/runs.go
  cmd/pipeline/runs_latest.go
  cmd/pipeline/runs_latest_test.go
  cmd/pipeline/workflows.go
  cmd/pipeline/workflows_test.go
  cmd/project/id.go
  cmd/project/id_test.go
  cmd/project/project.go
  cmd/root.go
  cmd/root_test.go
  cmd/workflow/jobs.go
  cmd/workflow/jobs_test.go
  cmd/workflow/workflow.go
  slug/project.go
  slug/project_test.go
Owners: @CircleCI-Public/lifecycle

Skip k9s integration test without token
  integration_tests/features/support/env.rb
Owners: @CircleCI-Public/lifecycle

ci: skip vulnerability scan on fork PRs
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

ci: skip vulnerability scan on PR pipelines
  .circleci/config.yml
Owners: @CircleCI-Public/lifecycle

TEST-96 Update run command to forward telemetry setting
  cmd/create_telemetry_test.go
  cmd/info/info_test.go
  cmd/run.go
  cmd/run_test.go
  cmd/runner/telemetry_test.go
  telemetry/telemetry.go
Owners: @CircleCI-Public/lifecycle, @CircleCI-Public/on-prem

updates policy urls to use public endpoints at circleci.com
  api/policy/policy.go
  api/policy/policy_test.go
  cmd/policy/policy.go
  cmd/policy/policy_test.go
  cmd/policy/testdata/policy-expected-usage.txt
  cmd/policy/testdata/policy/decide-expected-usage.txt
  cmd/policy/testdata/policy/diff-expected-usage.txt
  cmd/policy/testdata/policy/eval-expected-usage.txt
  cmd/policy/testdata/policy/fetch-expected-usage.txt
  cmd/policy/testdata/policy/logs-expected-usage.txt
  cmd/policy/testdata/policy/push-expected-usage.txt
  cmd/policy/testdata/policy/settings-expected-usage.txt
  cmd/policy/testdata/policy/test-expected-usage.txt
Owners: @CircleCI-Public/lifecycle

clearer error message on invalid url
  api/rest/client.go
  cmd/setup.go
  settings/settings.go
Owners: @CircleCI-Public/lifecycle

checking baseURL == nil
  api/rest/client.go
Owners: @CircleCI-Public/lifecycle

Deploy to GitHub pages [ci skip]
  circleci_policy.html
  circleci_policy_decide.html
  circleci_policy_diff.html
  circleci_policy_eval.html
  circleci_policy_fetch.html
  circleci_policy_logs.html
  circleci_policy_push.html
  circleci_policy_settings.html
  circleci_policy_test.html
Owners: @CircleCI-Public/lifecycle

skipping url validations
  cmd/setup.go
Owners: @CircleCI-Public/lifecycle

go vulnerability
  go.mod
  go.sum
Owners: @CircleCI-Public/lifecycle

both non- and interactive setup paths validate host url
  cmd/setup.go
Owners: @CircleCI-Public/lifecycle

add test and change to valid url
  cmd/setup_test.go
Owners: @CircleCI-Public/lifecycle

match the logic in ValidateHost
  api/rest/client.go
  api/rest/client_test.go
Owners: @CircleCI-Public/lifecycle

Changed the test to use a valid URL format
  cmd/orb_test.go
  cmd/project/project_test.go
Owners: @CircleCI-Public/orb-publishers, @CircleCI-Public/lifecycle

matches the pattern used in other tests
  integration_tests/features/root_commands.feature
Owners: @CircleCI-Public/lifecycle

feat: add XDG Base Directory spec support for config files
  cmd/create_telemetry_test.go
  cmd/telemetry_unit_test.go
  settings/settings.go
Owners: @CircleCI-Public/lifecycle

chore: Fix docs links (#1171)
  CONTRIBUTING.md
  cmd/orb.go
  cmd/orb_test.go
  data/data.go
  integration_tests/features/root_commands.feature
Owners: @CircleCI-Public/lifecycle, @CircleCI-Public/orb-publishers
